<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Invest project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
    <link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="styles/contact.css">
    <link rel="stylesheet" type="text/css" href="styles/contact_responsive.css">
</head>
<body>

<div class="super_container">

    <!-- Home -->

    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll" data-speed="0.8"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_content_inner">
                            <div class="home_title">Contact</div>
                            <div class="home_breadcrumbs">
                                <ul>
                                    <li><a href="home">Home</a></li>
                                    <li>Contact</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header -->

        <header class="header">

            <!-- Top Bar -->
            <div class="top_bar">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="top_bar_container d-flex flex-row align-items-center justify-content-start">
                                <div class="logo_container">
                                    <div class="logo">
                                        <a href="home">
                                            <div class="logo_line_1"><span>west coast</span>power-vac</div>
                                            <div class="logo_line_2">Residential & Commercial Duct Cleaning</div>
                                            <div class="logo_img"><img src="images/tornado.jpg" alt=""></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="top_bar_content ml-auto">

                                    <div class="main_menu_social">
                                        <ul>
                                            <li><a href="mailto:westcoastpowervac@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                            <li><a href="https://www.facebook.com/WestCoastPowerVac"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="https://www.yelp.com/biz/west-coast-power-vac-bonney-lake?osq=west+coast+power+vac"><i class="fa fa-yelp" aria-hidden="true"></i></a></li>
                                            <li><a href="https://www.thumbtack.com/wa/bonney-lake/ducts-and-vents/air-duct-dryer-vent-furnace-cleaning-more?fbclid=IwAR1yggRZHepT010vcEtfjwSXVuWPfkbHnoa1XjUATjBJ6QSINDzw2JoRcKc"><i class="fa fa-thumb-tack" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="burger">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main Menu -->

            <div class="main_menu">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="main_menu_container d-flex flex-row align-items-center justify-content-start">
                                <div class="main_menu_content">
                                    <ul class="main_menu_list">
                                        <li>
                                            <a href="home">home</a>
                                        </li>
                                        <li>
                                            <a href="about">about us</a>
                                        </li>
                                        <li>
                                            <a href="services">services</a>
                                        </li>
                                        <li>
                                            <a href="reviews">reviews</a>
                                        </li>
                                        <li class="active">
                                            <a href="contact">contact</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="main_menu_contact ml-auto">
                                    <div class="main_menu_phone"><img src="images/phone-call.svg" alt=""><span>(206)920-5738</span>
                                    </div>
                                    <div class="main_menu_email"><img src="images/envelope.svg" alt=""><span>westcoastpowervac@gmail.com</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Menu -->

            <div class="menu">
                <ul class="menu_list">
                    <li class="menu_item">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="home">home</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu_item">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="about">about us</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu_item">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="services">services</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu_item">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="reviews">reviews</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu_item">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="contact">contact</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
    </div>

    <!-- Contact -->

    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="info">
                        <div class="section_title_container">
                            <div class="section_subtitle">give us a call</div>
                            <div class="section_title">Contact info</div>
                        </div>
                        <div class="info_title">Head Office</div>
                        <ul>
                            <li><b>Address</b>: 5635 195th Ave <br>Bonney Lake, WA 98391</li>
                            <li><b>Brandon</b>: (206) 920-5738<br> <b>Matt</b>: (253) 736-5574</li>
                            <li><b>Email</b>: westcoastpowervac@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 contact_form_col">
                    <div class="section_title_container">
                        <div class="section_subtitle">request a call from us</div>
                        <div class="section_title">Get in touch</div>
                    </div>
                    <div class="contact_form_container">
                        <form action="#" method="post" class="contact_form">
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- validation error message -->
                                    <check if="{{ isset(@errors['firstname']) }}">
                                        <span class="err">{{ @errors['firstname'] }}</span>
                                    </check>
                                    <input type="text" class="input_item" placeholder="First Name"
                                           name="firstname" required="required" value="{{ @POST['firstname']}}">
                                </div>
                                <div class="col-md-6">
                                    <!-- validation error message -->
                                    <check if="{{ isset(@errors['lastname']) }}">
                                        <span class="err">{{ @errors['lastname'] }}</span>
                                    </check>
                                    <input type="text" class="input_item" placeholder="Last Name"
                                           name="lastname" required="required" value="{{ @POST['lastname']}}">
                                </div>
                                <div class="col-md-6">
                                    <!-- validation error message -->
                                    <check if="{{ isset(@errors['email']) }}">
                                        <span class="err">{{ @errors['email'] }}</span>
                                    </check>
                                    <input type="email" class="input_item" placeholder="Your E-mail"
                                           name="email" value="{{ @POST['email']}}" required="required">
                                </div>
                                <div class="col-md-6">
                                    <!-- validation error message -->
                                    <check if="{{ isset(@errors['phone']) }}">
                                        <span class="err">{{ @errors['phone'] }}</span>
                                    </check>
                                    <input type="text" class="input_item" name="phone" required="required" value="{{ @POST['phone']}}"
                                           placeholder="Your Phone">
                                </div>


                                <div class="col-md-12">
                                    <!-- validation error message -->
                                    <check if="{{ isset(@errors['message']) }}">
                                        <span class="err">{{ @errors['message'] }}</span>
                                    </check>

                                    <textarea class="input_item" name="message" rows="5"
                                              placeholder="Message">{{@POST['message']}}</textarea>
                                </div>
                                <div class="col-md-12">
                                    <button id="contact_btn" type="submit" class="contact_button trans_200"
                                            value="Submit">submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Google Map -->

    <div class="map">
        <div id="google_map" class="google_map">
            <div class="map_container">
                <div id="map"></div>
            </div>
        </div>
        <div class="map_contact">
            <div class="map_contact_inner d-flex flex-column align-items-start justify-content-center">
                <div class="logo_container contact_logo">
                    <div class="logo">
                        <a href="#">
                            <div class="logo_line_1"><span>west coast</span> power-vac</div>
                            <div class="logo_line_2">Residential and Commercial Duct Cleaning</div>
                            <div class="logo_img"><img src="images/tornado.jpg" alt=""></div>
                        </a>
                    </div>
                </div>
                <div class="map_contact_title">Head Office</div>
                <ul>
                    <li><b>Address</b>: 5635 195th Ave <br>Bonney Lake, WA 98391</li>
                    <li><b>Brandon</b>: (206) 920-5738<br> <b>Matt</b>: (253) 736-5574</li>
                    <li><b>Email</b>: westcoastpowervac@gmail.com</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Footer -->

    <footer class="footer">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 order-md-1 order-2">
                        <div class="copyright_content d-flex flex-row align-items-center justify-content-start">
                            <div class="cr">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                All rights reserved | West Coast Power-Vac

                                <!--This template is made with <i class="fa fa-heart-o"
                                                                                    aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                                 Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 order-md-2 order-1">
                        <nav class="footer_nav d-flex flex-row align-items-center justify-content-md-end">
                            <ul>
                                <li><a href="home">Home</a></li>
                                <li><a href="about">About us</a></li>
                                <li><a href="services">Services</a></li>
                                <li><a href="reviews">Reviews</a></li>
                                <li><a href="contact">Contact</a></li>
                                <li><a href="admin">Admin</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- Google Maps API -->
<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 47.2043010, lng: -122.1684670},
            zoom: 8
        });
    }
</script>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-ibEf4OAP-G2TabbQHp0ToQm8kk58Ot8&callback=initMap">
</script>
<script src="js/contact_custom.js"></script>
</body>
</html>